<h1 mat-dialog-title>Create Code Assessment</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Batch Name</mat-label>
      <mat-select [(ngModel)]="selectedBatch" name="batch">
        <mat-option *ngFor="let batch of batches" [value]="batch.batchname">{{ batch.batchname }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Duration (minutes)</mat-label>
      <input matInput type="number" [(ngModel)]="duration" name="duration" required>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()">Submit</button>
</div>
