
  
  .mat-form-field {
    display: block;
    width: 200px;
    margin-bottom: 16px;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
  
  .mat-input-element,
  .mat-select {
    width: 100%;
  }
  
  .form-item {
    margin:20px;
    padding: 10px;
  }