
  .subject-panel {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .subject-header {
    background-color: #f8f8f8;
    padding: 10px;
    cursor: pointer;
  }
  
  .subject-content {
    padding: 10px;
    background-color: #fff;
  }
  
  .accordion-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .accordion-header {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion-content {
    padding: 10px;
    background-color: #fff;
  }
  
  button{
    background-color: rgb(57, 57, 58);
    color: white;
    padding: 10px;
    border: none;
  }