<div class="container">
  <h3>Multi Question Bank (Random Set)</h3>
    <form [formGroup]="assessmentForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Assessment Name</mat-label>
        <input matInput formControlName="assessmentName" required />
        <mat-error *ngIf="assessmentForm.get('assessmentName')?.invalid">Assessment name is required</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Duration (in minutes)</mat-label>
        <input matInput type="number" formControlName="duration" required />
        <mat-error *ngIf="assessmentForm.get('duration')?.invalid">Please enter a valid duration</mat-error>
      </mat-form-field>
  
      <p>Select Question Banks:</p>
      <div *ngFor="let bank of questionBanks">
        <label>
          <input type="checkbox" (change)="onBankSelectionChange($event, bank)" />
          {{ bank.questionbankname }} ({{ bank.noq }} questions)
        </label>
  
        <div *ngIf="selectedBanks.includes(bank)">
          <mat-form-field appearance="fill">
            <mat-label>Number of Questions</mat-label>
            <input matInput type="number" [value]="numberOfQuestionsMap[bank.questionbankname]" (input)="onQuestionsChange(bank.questionbankname, $event)" />
            <mat-hint>Available questions: {{ bank.noq }}</mat-hint>
          </mat-form-field>
        </div>
      </div>
  
      <p>Total Questions: {{ totalQuestions }}</p>
  
      <!-- Submit button -->
      <button mat-raised-button color="primary" type="submit" [disabled]="!isFormValid()">Create Assessment</button>
    </form>
  
    <!-- Display the assessment link -->
    <div *ngIf="submitMessage" class="submit-message">
      <p>The assessment link is: <a [href]="submitMessage" target="_blank">{{ submitMessage }}</a></p>
    </div>
  
    <a routerLink="/" class="back-home-link">Back to Home</a>
  </div>
  