.menu {
    background-color: #333;
    overflow: hidden;
    width: 400px;
    margin-left: 25%;
    padding: 50px;

}

.menu-item {
    margin:20px;
    width: 250px;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    background-color: azure;
    color: rgb(43, 43, 49);
    font-weight: bold;
}

.menu-item a {
    display: block;
    color: rgb(44, 46, 59);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-item a:hover {
    background-color: #434877;
}

.icon {
    margin-right: 8px;
}
