<div class="dashboard-container">
  <h1>Assessments Dashboard</h1>
  <div class="dashboard-grid">

    <div class="dashboard-card" routerLink="/create-single-random">
      <span class="icon">🎲</span> <!-- Single Random (Question mark for Questions + Randomness) -->
      <h2>Create Single Question Bank Assessment (Random Sets)</h2>
    </div>
   
    

    <div class="dashboard-card" routerLink="/create-multi-random">
      <span class="icon">🎲🎲</span> <!-- Multi Random (Circular arrows for randomness and shuffling) -->
      <h2>Create Multi Question Bank Assessment (Random Sets)</h2>
    </div>


    <div class="dashboard-card" routerLink="/create-single-same">
      <span class="icon">📕</span> <!-- Single (Single Teacher or person representing Single Set of Questions) -->
      <h2>Create Single Question Bank Assessment (Same Set)</h2>
    </div>
    

    <div class="dashboard-card" routerLink="/create-multi-same">
      <span class="icon">📚</span> <!-- Multi Same (Books for multiple question banks) -->
      <h2>Create Multi Question Bank Assessment (Same Set)</h2>
    </div>


  </div>
</div>
