<div class="dashboard-container">
    <h1>Assessments Dashboard</h1>
    <div class="dashboard-grid">
      <div class="dashboard-card" routerLink="/create-single-random">
        <div class="icon-container">
          <i class="fa fa-random"></i>
        </div>
        <h2>Create Single Question Bank Assessment (Random Sets)</h2>
      </div>
  
      <div class="dashboard-card" routerLink="/create-single-same">
        <div class="icon-container">
          <i class="fa fa-file-alt"></i>
        </div>
        <h2>Create Single Question Bank Assessment (Same Set)</h2>
      </div>
  
      <div class="dashboard-card" routerLink="/create-multi-random">
        <div class="icon-container">
          <i class="fa fa-th"></i>
        </div>
        <h2>Create Multi Question Bank Assessment (Random Sets)</h2>
      </div>
  
      <div class="dashboard-card" routerLink="/create-multi-same">
        <div class="icon-container">
          <i class="fa fa-copy"></i>
        </div>
        <h2>Create Multi Question Bank Assessment (Same Set)</h2>
      </div>
    </div>
  </div>
  